@import "tailwindcss";

/* Hide scrollbar for horizontal scroll sections */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}